<resources>
    <string name="app_name">{{ProfileName}}</string>
	
%%SERVICE_CONSTANTS%%

%%CHARACTERISTIC_CONSTANTS%%

    <color name="white">#FFFFFF</color>
    <color name="blue">#CEECF5</color>
    <string name="action_settings"></string>
	
</resources>
